---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Blog">
  <Showcase heading="Astro Blog" text="A simple blog built with Astro" />
  <section class="page-content py-8">
    <div class="container lg:grid lg:grid-cols-2 gap-5">
      {
        posts.map((post) => (
          <Card>
            <h3 class="text-2xl mb-3 font-bold">{post.frontmatter.title}</h3>
            <p class="text-sm mb-4">
              Written by <strong>{post.frontmatter.author}</strong> on{" "}
              {post.frontmatter.date}
            </p>
            <p class="mb-5">{post.frontmatter.excerpt}</p>
            <a
              class="px-4 py-2 font-bold text-white bg-primary rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
              href={`/${post.frontmatter.slug}`}
            >
              Read More
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
